.a-devschool {
  background-color: rgb(34, 213, 189);
  height: 100%;
  text-align: center;
}

.a-devschool__texto {
  line-height: 2rem;
  padding: 3rem;
}

.a-devschool__botao {
  background-color: rgb(1, 167, 145);
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(1, 157, 141);
  color: seashell;
  margin: 0 0 3rem 0;
  padding: 0.3rem 1.5rem;
}

.a-devschool__link {
  color: snow;
  text-decoration: none;
}

.a-devschool__botao:hover {
  background-color: rgb(0, 136, 118);
}
