.disciplinas {
    background-color: #cccccc;
    padding: 2rem;
    text-align: center;
}

.disciplinas__titulo {
    font-size: 30px;
    text-shadow: 0 0 1px black;
}

.disciplinas__texto {
    font-size: 23px;
    line-height: 2.2rem;
}

.formacoes {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}

.formacao {
    border-radius: 10px;
    box-shadow: 0 0 1rem black;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    width: 25%;
}

.formacao__conteudo {
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.formacao__imagem {
    border-radius: 10px 10px 0 0;
}

.formacao__imagem--front {
    background-color: #dee88a;
    margin: auto;
    padding: 0.75rem calc(33% - 1.5rem);
    width: 150px;
}

.formacao__imagem--back {
    background-color: #72dcaa;
    padding: 0.75rem 0.75rem ;
}

.formacao__imagem--full {
    height: 196px;
}

.formacao__titulo--front {
    color: #9d8a02;
    font-size: 1.5rem;
    padding: 1rem;
    text-shadow: 0 0 1.5px black;
}

.formacao__titulo--back {
    color: #006120;
    font-size: 1.5rem;
    padding: 1rem;
    text-shadow: 0 0 1.5px black;
}

.formacao__titulo--full {
    color: rgb(0, 202, 202);
    font-size: 1.5rem;
    padding: 1rem;
    text-shadow: 0 0 1.5px black;
}

.formacao__descricao {
    text-align: justify;
    padding: 0 1rem 1rem 1rem;
}